NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_ADMIN_EMAIL=you@example.com

UPLOADTHING_TOKEN=your_uploadthing_token
RESEND_API_KEY=your_resend_api_key
MAILJET_API_KEY=your_mailjet_api_key
MAILJET_API_SECRET=your_mailjet_api_secret
MAILJET_TEMPLATE_ID=your_mailjet_template_id
